.pr_name{
    font-size: 13px;
}
.product{
    margin-top: 90px;
    height: auto;
}
.khung2{
    display: flex;
}
.pr_label{
    width: 0;
    height: 0;
}
.pr_content{
    box-sizing: border-box;
    height: 408px;
    display: flex;
}
.pr_rate .rate_number{
    display: inline-flex;
    color: rgb(239, 102, 33);
    font-size: 15px;
}
.pr_rate span{
    color: #6D6E72;
    font-weight: 400;
}
.pr_compare_price{
    font-weight: 400;
    line-height: 16px;
    color: #6D6E72;
}
.pr_price .pr_price_highlight{
    color: rgb(245, 72, 42);
    font-size: 18px;
}
.pr_price .sale{
    font-size: 15px;
    line-height: 15px;
    padding: 0 2px;
    margin-left: 6px;
    background: #FFEDED;
    border-radius: 2px;
    color: #E30019;
    border: 1px solid #E30019;
}
.chip .chipcon{
    margin-top: 2px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 2px;
    margin-right: 10px
}
.data{
    font-size: 9px;
}
.data svg{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
svg{
    overflow: hidden;
    vertical-align: middle;
}
.data .chip{
    display: inline-flex;
    align-items: center;
    padding-bottom: 2px;
    margin-right: 10px;
}