.pr_name a {
  font-size: 13px;
  padding: 0;
  margin-bottom: 5px;
  text-align: left;
}
.pr_case {
  box-sizing: border-box;
  height: 480px;
  width: 200px;
  padding: 0 6px;
}
.pr_info {
  box-sizing: border-box;
  width: 188px;
  height: 420px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.product {
  /* margin-top: 90px; */
  height: auto;
}
.khung2 {
  display: flex;
}
.pr_label {
  width: 0;
  height: 0;
}
.pr_content {
  box-sizing: border-box;
  height: 440px;
  display: flex;
  margin-bottom: 10px;
}
.op {
  background: #ececec;
  border-radius: 4px;
  color: #6d6e72;
  font-size: 12px;
  padding: 4px 8px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
}
.pr_rate .rate_number {
  display: inline-flex;
  color: rgb(239, 102, 33);
  font-size: 15px;
}
.pr_rate span {
  color: #6d6e72;
  font-weight: 400;
}
.pr_compare_price {
  font-weight: 400;
  line-height: 16px;
  color: #6d6e72;
}
.pr_price .pr_price_highlight {
  color: rgb(245, 72, 42);
  font-size: 18px;
}
.pr_price .sale {
  font-size: 15px;
  line-height: 15px;
  padding: 0 2px;
  margin-left: 6px;
  background: #ffeded;
  border-radius: 2px;
  color: #e30019;
  border: 1px solid #e30019;
}
.chip .chipcon {
  margin-top: 2px;
  display: inline-flex;
  align-items: center;
  padding-bottom: 2px;
  margin-right: 10px;
}
.data {
  font-size: 7px;
}
.data svg {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.data .chip {
  display: inline-flex;
  align-items: center;
  padding-bottom: 2px;
  margin-right: 10px;
}
