/* html {
  font-family: Arial, Helvetica, sans-serif;
} */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  margin: 0;
  /* background-color: antiquewhite; */
}
.headerimg {
  width: 100%;
  padding: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  background-color: rgb(196, 229, 252);
}
.headerimg img {
  margin: 0 150px;
}
.header {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 5;
  display: flex;
  /* justify-content: space-evenly; */
  background-color: rgb(216, 19, 19);
  height: 8%;
  width: 100vw;
  align-items: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  position: fixed;
  top: 51px;
}
.header div {
  flex-basis: 30%;
  text-align: center;
  /* padding: 0 10rem; */
  /* background-color: blue; */
  font-size: 20px;
  box-sizing: border-box;
}
.header a {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}
.fa-house {
  margin-right: 5px;
}
#search {
  border: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  outline: none;
}
.Search {
  height: 30px;
  width: 250px;
  background-color: white;
  margin: 0 0 0 20px;
  border: 1px solid #888888;
  border-right: none;
  border-radius: 40px 0 0 40px;
  padding: 0 0 0 16px;
}
.search-button {
  box-sizing: border-box;
  margin: 0 20px 0 0;
  height: 30px;
  width: 65px;
  border: 1px solid #888888;
  border-left: none;
  border-radius: 0 40px 40px 0;
  background-color: aliceblue;
  cursor: pointer;
}
.fa-cart-shopping {
  margin-right: 10px;
}
.ti-user {
  margin-right: 10px;
}
.ti-location-pin {
  margin-right: 10px;
}
.header .hover:hover {
  cursor: pointer;
}
.menu_list {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: fixed;
  top: 0;
  bottom: 0px;
  margin: 109px 0 0;
  width: 250px;
  background-color: white;
  display: none;
  overflow: auto;
  overscroll-behavior: none;
}
.menu_list::-webkit-scrollbar {
  width: 5px;
}
.menu_list ul {
  padding: 0;
}
.menu_list li,
a {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  margin: 10px 0 10px;
  text-align: center;
  color: black;
}
.menu_list li:hover {
  background-color: #888888;
  a {
    color: white;
  }
}
.main_content {
  display: flex;
}
.pr_container {
  margin: 126px auto 0;
}
.container {
  width: 800px;
  height: 600px;
  /* margin: 76px auto 0; */
  /* border: 1px solid #888; */
  box-sizing: border-box;
}
.banner {
  position: relative;
  box-sizing: border-box;
  width: 790px;
  height: 400px;
  margin: 0 5px 0;
}
.banner img {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  max-width: 790px;
  width: inherit;
  border-radius: 4px;
}
.bannerslide {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.banner_list {
  display: flex;
  box-sizing: border-box;
  width: 790px;
  height: 190px;
  margin: 5px;
  /* border: 1px solid #888; */
  justify-content: space-between;
}
.bl_items {
  width: 250px;
  height: 190px;
}
.banner_list img {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.product {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
  width: 800px;
  height: 468px;
  margin: 10px auto 20px;
  /* border: 1px solid #888888; */
  border-radius: 4px;
  /* background-color: whitesmoke; */
}
.pr_heading {
  display: flex;
  box-sizing: border-box;
  height: 60px;
  /* border: 1px solid #888888; */
  align-items: center;
  justify-content: space-between;
  padding: 12px 28px 12px 24px;
}
.pr_heading div {
  width: 350px;
  height: 36px;
}
.product h2 {
  text-align: left;
  margin: 0;
}
.head_boxringht {
  text-align: right;
}
.button_more {
  text-decoration: none;
  color: #4aa1f8;
}
.pr_content {
  box-sizing: border-box;
  height: 408px;
  display: flex;
}
.pr_case {
  box-sizing: border-box;
  height: 400px;
  width: 200px;
  padding: 0 6px;
}
.pr_info {
  box-sizing: border-box;
  width: 188px;
  height: 400px;
  border-radius: 4px;
  /* border: 1px solid #c6c6c6be; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.pr_preview {
  box-sizing: border-box;
  width: 188px;
  height: 200px;
  padding: 5px;
}
.pr_preview img {
  height: 178px;
  width: 178px;
}
.pr_detail {
  box-sizing: border-box;
  width: 188px;
  height: 200px;
  padding: 6px 11px 16px;
}
.pr_label {
  width: 156px;
  height: 14px;
}
.pr_name {
  margin: 0;
}
.pr_name a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  padding: 10px;
}
.compare_block {
  display: flex;
}
.sale {
  /* font-size: 15px; */
  /* line-height: 15px; */
  height: 25px;
  padding: 0 2px;
  margin-left: 6px;
  margin-top: 11px;
  background: #ffeded;
  border-radius: 2px;
  color: #e30019;
  border: 1px solid #e30019;
}
.pr_compare_price {
  margin-top: 20px;
  box-sizing: border-box;
  height: 16px;
  width: 156px;
}
.pr_price {
  box-sizing: border-box;
  width: 156px;
  height: 50px;
}
.pr_price_highlight {
  font-weight: 600;
  line-height: 50px;
  color: red;
  font-size: 25px;
}
.pr_rate {
  box-sizing: border-box;
  width: 156px;
  height: 15px;
}
.rate_number {
  font-weight: 600;
  color: rgb(206, 184, 42);
}
.footer {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 100%;
  text-align: center;
  p {
    margin: 0 0 5px;
    text-align: center;
  }
  .address {
    padding-top: 10px;
  }
}
